<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7c3069da-40b3-4151-91eb-3414aee2e374" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7c3069da-40b3-4151-91eb-3414aee2e374fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
